<div class="container">
    <div class="row mt-5">
        <div class="col form-group text-center d-flex justify-content-center">
            <div class="card">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <label>Insira a quantidade de nomes que serão adicionados: </label>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-3">
                            <input type="number" min="0" class="form-control"
                                (keyup)="autorService.atualizarSubjectQuantidadeDeNomes(qtdDeNomes)"
                                (change)="autorService.atualizarSubjectQuantidadeDeNomes(qtdDeNomes)"
                                [(ngModel)]="qtdDeNomes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col form-group text-center  justify-content-center">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5>Adicionar autores</h5>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <app-adicionar-autor></app-adicionar-autor>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col form-group text-center  justify-content-center">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <h5>Lista de autores</h5>
                        </div>
                    </div>
                    <div class="row  justify-content-center">
                        <div class="col">
                            <app-listar-autores></app-listar-autores>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
